* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 300px;
    flex-direction: column;
}

.container span {
    font-size: 35px;
}

button {
    background-color: rgb(7, 7, 7);
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border-color: inherit;
}

button:hover {
    background-color: rgb(97, 96, 96);
}